<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>https://d-app6.i4.cn/soft/2022/11/02/18/1667384836751_180464.ipa</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>https://d-image.i4.cn/image/icon/2017/08/12/13/507161324/z1502516268373_277981.jpg</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>https://d-image.i4.cn/image/icon/2017/08/12/13/507161324/z1502516268373_277981.jpg</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>me.ele.ios.eleme.10.12</string>
					<key>bundle-version</key>
					<string>10.12.33</string>
					<key>kind</key>
					<string>software</string>
					<key>subtitle</key>
					<string><![CDATA[饿了么 - 美食准时达]]></string>
					<key>title</key>
					<string><![CDATA[饿了么 - 美食准时达]]></string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
